<div class="grid grid-cols-1 gap-y-10 gap-x-6 sm:grid-cols-2 lg:grid-cols-3 xl:gap-x-8">
    {% for item in site.catalog %}
    <div class="group overflow-hidden rounded-xl shadow-lg bg-slate-100">
        <div class="aspect-w-1 aspect-h-1 w-full">
            <img src="{{ site.baseurl_root }}/assets/products/{{ item.slug }}.webp"
                alt="Therapeutic Grey Plush {{ item.name }}"
                class="h-full w-full object-cover group-hover:object-contain object-center" />
        </div>
        <div class="p-4">
            <div class="mt-4 flex items-center justify-between text-base font-medium text-gray-900">
                <h3>{{item.name}}</h3>
                <p>{{item.price}}</p>
            </div>
            <p class="mt-1 text-sm italic text-gray-500">{{item.description}}</p>
        </div>
    </div>
    {% endfor %}
</div>